body {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}
input,
textarea {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    width: 50vw;
    resize: none;
}
button {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    background-color: cornflowerblue;
    cursor: pointer;
    /* width: 50vw; */
}
button:hover {
    opacity: 0.8;
}
.main-div {
    /* margin: 32.5vw auto; */
    /* padding: 25vw; */
    /* padding-top: 20vh; */
    /* min-width: 300px; */
    text-align: center;
    /* width: 50vw; */
}
.login-container {
    height: 100vh;
    position: relative;
    /* border: 3px solid green; */
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
