@media only screen and (max-width: 991px) {
    .bs-example-tabs{
        margin: 0px !important;
    }

}

@media only screen and (max-width: 767px) {
    #PainelEditorTexto{
        height: calc(55vh - 50px) !important;
    }
    .tabsDesktop{
        display: none;
    }

}

@media only screen and (min-width: 768px) {
    .tabsMobile{
        display: none;
    }
}

.panel-group .panel{
    margin-top: 0px !important;
}
#content {
    padding-bottom: 0px;
}
#page{
    padding-bottom: 10px;
}
.dropdown-menu li.open > a{
    background-color: unset !important;
    border-color: #337ab7;
}
.dropdown-menu li.open.active > a{
    background-color: #337ab7 !important;
    border-color: #337ab7;
}